<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-1">Fade in &amp; Scale</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-2">Slide in (right)</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-3">Slide in (bottom)</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-4">Newspaper</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-no-effect">No effect selected</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-5">Fall</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-6">Side Fall</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-7">Sticky Up</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-8">3D Flip (horizontal)</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-9">3D Flip (vertical)</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-10">3D Sign</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-11">Super Scaled</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-12">Just Me</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-13">3D Slit</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-14">3D Rotate Bottom</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-15">3D Rotate In Left</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-modal="modal-16">Blur</button>
<!-- special modal that will add a perspective class to the html element -->
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md " data-modal="modal-17">Let me in</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md " data-modal="modal-18">Make way!</button>
<button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md " data-modal="modal-19">Slip from top</button>