<!-- All modals added here for the demo. You would of course just have one, dynamically created -->
<div class="ts-modal ts-modal-effect-1" data-name="modal-1" id="modal-1">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-2" data-name="modal-2" id="modal-2">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-3" data-name="modal-3" id="modal-3">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-4" data-name="modal-4" id="modal-4">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-5" data-name="modal-5" id="modal-5">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-no-effect" data-name="modal-no-effect" id="modal-no-effect">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-6" data-name="modal-6" id="modal-6">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-7" data-name="modal-7" id="modal-7">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-8" data-name="modal-8" id="modal-8">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-9" data-name="modal-9" id="modal-9">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-10" data-name="modal-10" id="modal-10">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-11" data-name="modal-11" id="modal-11">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-12" data-name="modal-12" id="modal-12">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-13" data-name="modal-13" id="modal-13">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-14" data-name="modal-14" id="modal-14">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-15" data-name="modal-15" id="modal-15">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-16" data-name="modal-16" id="modal-16">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-17" data-name="modal-17" id="modal-17">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-18 " data-name="modal-18" id="modal-18">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-19 " data-name="modal-19" id="modal-19">
  <% include modal_content %>
</div>
<div class="ts-modal ts-modal-effect-20 " data-name="modal-20" id="modal-20">
  <% include modal_content %>
</div>